{% include 'header.html' %}

{% block app_content %}
<body>
    {% include 'nav.html' %}
    <center>
        {% include 'sidebar.html' %}
        <div class="content-section">
            <div class="media">
                <div class="media-body">
                    <h1>{{ _('An unexpected error has occurred') }}</h1>
                    <p>{{ _('The administrator has been notified. Sorry for the inconvenience!') }}</p>
                    <p><a href="{{ url_for('main.index') }}">{{ _('Back') }}</a></p>
                </div>
            </div>
        </div>
    </center>

{% include 'footer.html' %}

</body>
{% endblock %}
