{% import 'bootstrap/wtf.html' as wtf %}
{% include 'header.html' %}

{% block app_content %}
<body>
    {% include 'nav.html' %}
    <center>
      {% include 'sidebar.html' %}
      <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h1>{{ _('Edit Profile') }}</h1>
                <div class="row">
                    <div class="col-md-4 col-lg-offset-4">
                        {{ wtf.quick_form(form, submit, button_map={'submit':'primary'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
{% include 'footer.html' %}
{% endblock %}
